@charset "utf-8";
/* CSS Document */
.fileupload_wrap,
.upload_button_wrap {
    position: relative;
}
.upload_button_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

/* Button */
.btn {
    /* font-size:13px; margin-bottom:2px; */
    position: relative;
}
.btn * {
    cursor: pointer;
}

.rms-btn-size {
    height: 24px;
    line-height: 22px;
    padding: 0px 6px;
    border-radius: 4px;
}
.rms-btn-size > i {
    font-size: 11px;
}

.rms-btn-type-e {
    color: #f06548;
    background-color: #fff;
    border-color: #f06548;
}
.rms-btn-type-e:hover,
.rms-btn-type-e:focus,
.rms-btn-type-e.focus,
.rms-btn-type-e:active,
.rms-btn-type-e.active,
.open > .dropdown-toggle.rms-btn-type-e {
    color: #f06548;
    background-color: #fef0ed;
    border-color: #f06548;
}
.rms-btn-type-e:active,
.rms-btn-type-e.active,
.open > .dropdown-toggle.rms-btn-type-e {
    background-image: none;
}
.rms-btn-type-e.disabled,
.rms-btn-type-e[disabled],
fieldset[disabled] .rms-btn-type-e,
.rms-btn-type-e.disabled:hover,
.rms-btn-type-e[disabled]:hover,
fieldset[disabled] .rms-btn-type-e:hover,
.rms-btn-type-e.disabled:focus,
.rms-btn-type-e[disabled]:focus,
fieldset[disabled] .rms-btn-type-e:focus,
.rms-btn-type-e.disabled.focus,
.rms-btn-type-e[disabled].focus,
fieldset[disabled] .rms-btn-type-e.focus,
.rms-btn-type-e.disabled:active,
.rms-btn-type-e[disabled]:active,
fieldset[disabled] .rms-btn-type-e:active,
.rms-btn-type-e.disabled.active,
.rms-btn-type-e[disabled].active,
fieldset[disabled] .rms-btn-type-e.active {
    background-color: #fff;
    border-color: #f06548;
}
.rms-btn-type-e .badge {
    color: #f06548;
    background-color: #fff;
}
.btn-img-inline {
    display: inline-block;
    padding-left: 1px;
    margin-bottom: 0;
    font-weight: normal;
    vertical-align: middle;
    cursor: pointer;
    margin-top: -1px;
}

.rms-btn-default {
    color: #019ebf;
    background-color: #fff;
    border-color: #019ebf;
}

.rms-btn-default:hover,
.rms-btn-default:focus,
.rms-btn-default.focus,
.rms-btn-default:active,
.rms-btn-default.active,
.open > .dropdown-toggle.rms-btn-default {
    color: #0084ad;
    background-color: #e6f7fb;
    border-color: #0084ad;
}
.rms-btn-default:active,
.rms-btn-default.active,
.open > .dropdown-toggle.rms-btn-default {
    background-image: none;
}
.rms-btn-default.disabled,
.rms-btn-default[disabled],
fieldset[disabled] .rms-btn-default,
.rms-btn-default.disabled:hover,
.rms-btn-default[disabled]:hover,
fieldset[disabled] .rms-btn-default:hover,
.rms-btn-default.disabled:focus,
.rms-btn-default[disabled]:focus,
fieldset[disabled] .rms-btn-default:focus,
.rms-btn-default.disabled.focus,
.rms-btn-default[disabled].focus,
fieldset[disabled] .rms-btn-default.focus,
.rms-btn-default.disabled:active,
.rms-btn-default[disabled]:active,
fieldset[disabled] .rms-btn-default:active,
.rms-btn-default.disabled.active,
.rms-btn-default[disabled].active,
fieldset[disabled] .rms-btn-default.active {
    background-color: #019ebf;
    border-color: #019ebf;
}
.rms-btn-default .badge {
    color: #0084ad;
    background-color: #fff;
}
/*icon*/

.rms-btn-icon {
    height: 24px !important;
    line-height: 22px !important;
    padding: 0px 8px;
    border-radius: 4px;
}
.rms-icon {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    padding-right: 5px;
    margin-bottom: 0px;
}
/*icon white*/
.rms-icon-refresh-w {
    background: url(/images/images_gtfu/icon_refresh-white.png) no-repeat;
}
.rms-icon-search-w {
    background: url(/images/images_gtfu/icon-search-white.png) no-repeat;
}
.rms-icon-calendar-w {
    background: url(/images/images_gtfu/icon-calendar-white.png) no-repeat;
}
.rms-icon-calculator-w {
    background: url(/images/images_gtfu/icon-calculator-white.png) no-repeat;
}
.rms-icon-help-w {
    background: url(/images/images_gtfu/icon-help-white.png) no-repeat;
}
.rms-icon-eraser-w {
    background: url(/images/images_gtfu/icon-eraser-white.png) no-repeat;
}
.rms-icon-delete-w {
    background: url(/images/images_gtfu/icon-delete-white.png) no-repeat;
}
.rms-icon-select-w {
    background: url(/images/images_gtfu/icon-select-white.png) no-repeat;
}
.rms-icon-add-w {
    background: url(/images/images_gtfu/icon-add-white.png) no-repeat;
}
.rms-icon-upload-w {
    background: url(/images/images_gtfu/icon-upload-white.png) no-repeat;
}
.rms-icon-cancel-w {
    background: url(/images/images_gtfu/icon-cancel-white.png) no-repeat;
}
.rms-icon-pause-w {
    background: url(/images/images_gtfu/icon-pause-white.png) no-repeat;
}

/*icon black*/
.rms-icon-refresh-b {
    background: url(/images/images_gtfu/icon_refresh-black.png) no-repeat;
}
.rms-icon-search-b {
    background: url(/images/images_gtfu/icon-search-black.png) no-repeat;
}
.rms-icon-calendar-b {
    background: url(/images/images_gtfu/icon-calendar-black.png) no-repeat;
}
.rms-icon-calculator-b {
    background: url(/images/images_gtfu/icon-calculator-black.png) no-repeat;
}
.rms-icon-help-b {
    background: url(/images/images_gtfu/icon-help-black.png) no-repeat;
}
.rms-icon-eraser-b {
    background: url(/images/images_gtfu/icon-eraser-black.png) no-repeat;
}
.rms-icon-delete-b {
    background: url(/images/images_gtfu/icon-delete-black.png) no-repeat;
}
.rms-icon-select-b {
    background: url(/images/images_gtfu/icon-select-black.png) no-repeat;
}
.rms-icon-add-b {
    background: url(/images/images_gtfu/icon-add-black.png) no-repeat;
}
.rms-icon-upload-b {
    background: url(/images/images_gtfu/icon-upload-black.png) no-repeat;
}
.rms-icon-cancel-b {
    background: url(/images/images_gtfu/icon-cancel-black.png) no-repeat;
}
.rms-icon-pause-b {
    background: url(/images/images_gtfu/icon-pause-black.png) no-repeat;
}

/*icon color*/
.rms-icon-refresh-c {
    background: url(/images/images_gtfu/icon_refresh-color.png) no-repeat;
}
.rms-icon-search-c {
    background: url(/images/images_gtfu/icon-search-color.png) no-repeat;
}
.rms-icon-calendar-c {
    background: url(/images/images_gtfu/icon-calendar-color.png) no-repeat;
}
.rms-icon-calculator-c {
    background: url(/images/images_gtfu/icon-calculator-color.png) no-repeat;
}
.rms-icon-help-c {
    background: url(/images/images_gtfu/icon-help-color.png) no-repeat;
}
.rms-icon-eraser-c {
    background: url(/images/images_gtfu/icon-eraser-color.png) no-repeat;
}
.rms-icon-delete-c {
    background: url(/images/images_gtfu/icon-delete-color.png) no-repeat;
}
.rms-icon-select-c {
    background: url(/images/images_gtfu/icon-select-color.png) no-repeat;
}
.rms-icon-add-c {
    background: url(/images/images_gtfu/icon-add-color.png) no-repeat;
}
.rms-icon-upload-c {
    background: url(/images/images_gtfu/icon-upload-color.png) no-repeat;
}
.rms-icon-cancel-c {
    background: url(/images/images_gtfu/icon-cancel-color.png) no-repeat;
}
.rms-icon-pause-c {
    background: url(/images/images_gtfu/icon-pause-color.png) no-repeat;
}

/* margin */

.mgB10 {
    margin-bottom: 10px !important;
}

.mgT10 {
    margin-top: 10px !important;
}

/* progress */

.progress {
    height: 12px;
    margin-bottom: 0px;
    overflow: hidden;
    background-color: #f0f0f0;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
    width: 100%;
    min-width: 100px;
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    text-align: left;
    background-color: #019ebf;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
}
.progress-bar span {
    padding: 0px 8px;
}
.progress-info {
}
.progress-info span {
    color: #000;
    display: inline-block;
}
.progress-info span:nth-child(1)::after,
.progress-info span:nth-child(2)::after {
    content: "|";
    margin: 0 12px;
    color: #999;
}
.progress-info span:nth-child(3)::after {
    content: "/";
    margin: 0 2px 0 8px;
    color: #000;
}
.txtWhite {
    color: #fff;
}
.progress-txtGreen {
    color: #019ebf !important;
}

.h600 {
    height: 600px;
}

.mgT50 {
    margin-top: 50px !important;
}
.mgL30 {
    margin-left: 30px !important;
}
.mgR30 {
    margin-right: 30px !important;
}
.font-size-16 {
    font-size: 16px !important;
}

.rms-table-list3 {
    border-top: 2px solid #b4b4b4;
    border-bottom: 1px solid #dddddd;
}
.rms-table-list3 th,
.rms-table-list3 td,
#divFUGlobalProgress table th,
#divFUGlobalProgress table td {
    font-size: 13px;
    vertical-align: middle;
    line-height: 22px !important;
}
#divFUGlobalProgress table td {
    border-bottom: none;
    padding: 2px;
}
