body {
    color: #1d1e23;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471
}

/*layout*/
.mosti_fileupload_wrap{display:block; width:100%; box-sizing:border-box; border:0px solid #dedede; border-top:1px dashed #dedede; margin-top:10px; border-radius:2px; background:#fff; padding:10px 0px;}
.mosti_fileupload_wrap .mf_btn_area{display:table; width:100%; margin-bottom:5px;}
.mosti_fileupload_wrap .mf_btn_area .mf_left{text-align:left; display:table-cell; vertical-align:middle;}
.mosti_fileupload_wrap .mf_btn_area .mf_left h4{color:#1d1e23; font-size:13px; font-weight:bold;}
.mosti_fileupload_wrap .mf_btn_area .mf_right{text-align:right; display:table-cell; vertical-align:middle;}


/*Table*/

.mf_table {
  width: 100%;
  max-width: 100%;
}
.mf_table > thead > tr > th,
.mf_table > tbody > tr > th,
.mf_table > tfoot > tr > th,
.mf_table > thead > tr > td,
.mf_table > tbody > tr > td,
.mf_table > tfoot > tr > td {
  padding: 8px;
  /*line-height: 1.42857143;*/
  vertical-align: top;
}
.mf_table > thead > tr > th {
  vertical-align: bottom;
}

.mf_table > caption + thead > tr:first-child > th,
.mf_table > colgroup + thead > tr:first-child > th,
.mf_table > thead:first-child > tr:first-child > th,
.mf_table > caption + thead > tr:first-child > td,
.mf_table > colgroup + thead > tr:first-child > td,
.mf_table > thead:first-child > tr:first-child > td {
  border-top: 0;
	/*border-left:1px solid #f2f2f2;*/
}

.mf_table > thead:first-child > tr:first-child > th:first-child{border-left:none;}
.mf_table > tbody + tbody {
  border-top: 2px solid #ddd;
}
.mf_table .mf_table {
  background-color: #fff;
}
.mf_table-condensed > thead > tr > th,
.mf_table-condensed > tbody > tr > th,
.mf_table-condensed > tfoot > tr > th,
.mf_table-condensed > thead > tr > td,
.mf_table-condensed > tbody > tr > td,
.mf_table-condensed > tfoot > tr > td {
  padding: 5px;
}
.mf_table-bordered {
  border: 1px solid #ddd;
}
.mf_table-bordered > thead > tr > th,
.mf_table-bordered > tbody > tr > th,
.mf_table-bordered > tfoot > tr > th,
.mf_table-bordered > thead > tr > td,
.mf_table-bordered > tbody > tr > td,
.mf_table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}
.mf_table-bordered > thead > tr > th,
.mf_table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.mf_table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.mf_table-hover > tbody > tr:hover {
 /* background-color: #f5f5f5;*/
}
table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}
.mf_table > thead > tr > td.active,
.mf_table > tbody > tr > td.active,
.mf_table > tfoot > tr > td.active,
.mf_table > thead > tr > th.active,
.mf_table > tbody > tr > th.active,
.mf_table > tfoot > tr > th.active,
.mf_table > thead > tr.active > td,
.mf_table > tbody > tr.active > td,
.mf_table > tfoot > tr.active > td,
.mf_table > thead > tr.active > th,
.mf_table > tbody > tr.active > th,
.mf_table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.mf_table-hover > tbody > tr > td.active:hover,
.mf_table-hover > tbody > tr > th.active:hover,
.mf_table-hover > tbody > tr.active:hover > td,
.mf_table-hover > tbody > tr:hover > .active,
.mf_table-hover > tbody > tr.active:hover > th {
 /* background-color: #e8e8e8;*/
}

.mf_table > thead > tr > th {
    border-bottom:1px solid #f2f2f2;
    /*background-color: #ededee;*/
}
.mf_table > thead > tr > th:hover {
    background:#f7f7f7;
}


/*Cell Drag
.grip{
	width:20px;
	height:15px;
	margin-top:-3px;
	background-image:url(../images/grip.png);
	margin-left:-5px;
	position:relative;
	z-index:88;
	cursor:e-resize;
}

.grip:hover{
	background-position-x:-20px;
}
.JCLRLastGrip .grip{
    background-position-y:-18px;
    left:-2px;
}

.dragging .grip{
	background-position-x:-40px;
}

.dotted{
	background-image:url('../images/dotted.png');
	background-repeat:repeat-y;
}

*/



.mf_table {
    border-collapse: collapse;
}

.mf_table a {
		text-decoration: underline;
}

.mf_table a:hover {
		color: #5b338b;
}

.mf_table th {
		color: #1d1e23;
}

.mf_table > thead > tr > th.warning {
		background: #ccc6c1 /*#bdbebf*/;
}

.mf_table-responsive {
  min-height: .01%;
  overflow-x: auto;
}
@media screen and (max-width: 767px) {
  .mf_table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
  .mf_table-responsive > .mf_table {
    margin-bottom: 0;
  }
  .mf_table-responsive > .mf_table > thead > tr > th,
  .mf_table-responsive > .mf_table > tbody > tr > th,
  .mf_table-responsive > .mf_table > tfoot > tr > th,
  .mf_table-responsive > .mf_table > thead > tr > td,
  .mf_table-responsive > .mf_table > tbody > tr > td,
  .mf_table-responsive > .mf_table > tfoot > tr > td {
    white-space: nowrap;
  }
  .mf_table-responsive > .mf_table-bordered {
    border: 0;
  }
  .mf_table-responsive > .mf_table-bordered > thead > tr > th:first-child,
  .mf_table-responsive > .mf_table-bordered > tbody > tr > th:first-child,
  .mf_table-responsive > .mf_table-bordered > tfoot > tr > th:first-child,
  .mf_table-responsive > .mf_table-bordered > thead > tr > td:first-child,
  .mf_table-responsive > .mf_table-bordered > tbody > tr > td:first-child,
  .mf_table-responsive > .mf_table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .mf_table-responsive > .mf_table-bordered > thead > tr > th:last-child,
  .mf_table-responsive > .mf_table-bordered > tbody > tr > th:last-child,
  .mf_table-responsive > .mf_table-bordered > tfoot > tr > th:last-child,
  .mf_table-responsive > .mf_table-bordered > thead > tr > td:last-child,
  .mf_table-responsive > .mf_table-bordered > tbody > tr > td:last-child,
  .mf_table-responsive > .mf_table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .mf_table-responsive > .mf_table-bordered > tbody > tr:last-child > th,
  .mf_table-responsive > .mf_table-bordered > tfoot > tr:last-child > th,
  .mf_table-responsive > .mf_table-bordered > tbody > tr:last-child > td,
  .mf_table-responsive > .mf_table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}

table.mf_jambo_table {
    border: 1px solid rgba(221, 221, 221, 0.78);
    /*border-top: 2px solid #34383b;*/
}

table.mf_jambo_table thead {
		/* background: rgba(52, 73, 94, 0.94);*/
		color: #ECF0F1
}

table.mf_jambo_table tbody tr:hover td {
		/*background: rgba(238,48,45, 0.07);
		border-top: 1px solid rgba(238,48,45, 0.11);
		border-bottom: 1px solid rgba(238,48,45, 0.11)*/
}

table.mf_jambo_table tbody td:last-child {
		border-right: 1px solid rgba(238,48,45, 0.11);
}

table.mf_jambo_table tbody tr.selected {
		background: rgba(238,48,45, 0.08)
}

table.mf_jambo_table tbody tr.selected td {
	border-top: 1px solid rgba(238,48,45, 0.2);
	border-bottom: 1px solid rgba(238,48,45, 0.2)
}

table.mf_jambo_table tbody tr.selected td:last-child {
		border-right: 1px solid rgba(238,48,45, 0.2);
}


/*버튼*/
.mf_btn {
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #f0f0f0;
  border: 1px solid #d3d1d1;
  border-radius: 4px;
	color:#333;
	margin-left:2px;
}

    .mf_btn input[type="file"] {
        opacity: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: 1px;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
        font-size: 0;
        cursor: pointer;
    }

.mf_btn:focus,
.mf_btn:active:focus,
.mf_btn.active:focus,
.mf_btn.focus,
.mf_btn:active.focus,
.mf_btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.mf_btn:hover,
.mf_btn:focus,
.mf_btn.focus {
  color: #333;
	border:1px solid #706f6f;
  text-decoration: none;
}
.mf_btn:active,
.mf_btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.mf_btn.disabled,
.mf_btn[disabled],
fieldset[disabled] .mf_btn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
a.mf_btn.disabled,
fieldset[disabled] a.mf_btn {
  pointer-events: none;
}
.mf_table-responsive .mf_table .mf_btn{padding:1px 8px;}

/*Progress*/
.mf_progress {
  height: 20px;
  overflow: hidden;
  background-color: #ededee;
  border-radius: 2px;
	border:1px solid #ddd;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
}
.mf_progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px -1px rgba(0, 0, 0, .15);
          box-shadow: inset 0 -1px -1px rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
       -o-transition: width .6s ease;
          transition: width .6s ease;
}
.mf_progress-bar span{ text-shadow:#003 1px 0px 1px;}
.mf_progress.active .mf_progress-bar,
.mf_progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
       -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}

.mf_table-responsive + .mf_file_info{margin-top:10px;}
.mf_file_info{border:1px dashed #ccc; border-radius:4px; background:#f7f7f7; padding:10px; position:relative;}
.mf_file_info_group{display:table; width:100%;}
.mf_file_info .mf_file_info_group .mf_right{float:right; display:inline-block; margin:0;}
.mf_file_info .mf_file_info_group .mf_right li{margin:0 6px; display:inline-block;}
.mf_file_info .mf_file_info_group .mf_right li .mf_label{margin-right:5px; color:#999;}
.mf_file_info .mf_file_info_group .mf_right li .mf_data{font-weight:bold; color:#333;}

@media screen and (max-width: 767px) {
	.mf_file_info .mf_file_info_group .mf_right{display:block;}
	.mf_file_info .mf_file_info_group .mf_right li{display:block; text-align:right;}
}

/*align*/
.mf_al_center{text-align:center!important;}
.mf_al_right{text-align:right!important;}